body {
  background-color: #FAFFFD;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-style: italic;
  font-family: 'pacifico'
}

#easy {
  color: #3C91E6;
}

#shop {
  color: #FA824C;
}


#shop_now:link {
 color: #342E37;
 text-decoration: none;
 background-color: #9FD356;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:visited {
 color: #342E37;
 text-decoration: none;
 background-color: #9FD356;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:hover {
 background-color: #FA824C;
 color: #342E37;
 text-decoration: none;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:active {
 position: relative;
 top: 5px;
 color: #342E37;
 text-decoration: none;
 background-color: #3C91E6;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#home {
  font-size: 50px;
  color: #3C91E6;
}

#funds {
  font-size: 50px;
  color: #FA824C;
  display: inline-block;
  margin-left: 92.5%;
}

#account {
  color: #9FD356;
  margin-top: -345px;
  margin-right: 900px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Squada one'
}

.button {
  margin-top: 350px;
}

.merchants {
  margin-top: -175px;
}

#merchant_list:link {
  text-decoration: none;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:visited {
  text-decoration: none;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:hover {
  text-decoration: underline;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:active {
  position: relative;
  top: 5px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #3C91E6;
}

#merchant_name {
  color: #342E37;
  font-size: 75px;
  font-family: 'Squada one';
  margin-bottom: -10px;
}

.move{
  margin-top:-200px;
  margin-left: 550px;
}


#merchants_stock:link {
  font-size: 35px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #3C91E6;
}
#merchants_stock:visited {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #3C91E6;
}
#merchants_stock:hover {
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  color: #3C91E6;
}
#merchants_stock:active {
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  color: #3C91E6;
}

#product {
  font-size: 100px;
  font-family: 'Squada one';
}

#price {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.buy {
  color: #342E37;
  text-align: center;
  margin-top: -150px;
}

.buy_form {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

#quantity {
  font-family: 'Squada one';
  width: 30px;
  height: 18px;
  font-size: 25px;
}

#buy_button {
  font-size: 20px;
  font-family: 'Squada one';
  border: 3px;
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  background-color: white;
  color: #3C91E6;
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#buy_button:visited {
  font-size: 20px;
  font-family: 'Squada one';
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  background-color: white;
  color: #3C91E6;
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#buy_button:hover {
  font-size: 20px;
  font-family: 'Squada one';
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  background-color: white;
  color: #3C91E6;
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#buy_button:active {
  position: relative;
  top: 5px;
  font-size: 20px;
  font-family: 'Squada one';
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  background-color: white;
  color: #3C91E6;
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.transactions {
  color: #342E37;
  margin-top: -150px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

#account_balance {
  margin-bottom: -50px;
}

.titles {
  color: #342E37;
  font-family: 'Squada one';
  font-size: 50px;
}

#go_back1 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back2 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back3 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back4 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back5 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}

#add_funds {
  padding: 5px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-style: ridge;
  border-radius: 10px;
  border-color: #3C91E6;
  color: #3C91E6;
}

.ammount_form {
  color: #342E37;
  font-size: 50px;
  margin-top: -150px;
  text-align: center;
  font-family: 'Squada one';
}

#enter_ammount {
  margin-bottom: -10px;
}

#ammount_input {
  border-radius: 10px;
  border-style: ridge;
  width: 280px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -50px;
  font-size: 30px;
}

#ammount_submit {
  font-size: 30px;
  font-family: 'Squada one';
  background-color: white;
  border: solid;
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  color: #3C91E6;
  padding: 5px 100px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#thank_you {
  z-index: 2;
  color: #3C91E6;
  font-family: 'pacifico';
  text-align: center;
  font-size: 100px;
  margin-top: -4000px;
}

#thank_you_tag {
  margin-left: 420px;
  margin-top: -150px;
  color: #FA824C;
  font-family: 'pacifico';
  font-size: 30px;
}

#title_cover {
  color: #FAFFFD;
  margin-top: -2200px;
  text-align: center;
  font-size: 3000px;
}

#purchased_data {
  color: #342E37;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

#continue_shopping {
  padding: 10px;
  margin-left: 525px;
  font-size: 25px;
  font-family: 'Squada one';
  text-decoration: none;
  color: #3C91E6;
  border-style: ridge;
  border-radius: 10px;
  border-color: #3C91E6;
  background-color: white;
}


#cancel_order {
  font-size: 30px;
  font-family: 'Squada one';
  background-color: white;
  border: solid;
  border-radius: 10px;
  border-style: ridge;
  border-color: #3C91E6;
  color: #3C91E6;
  padding: 5px 27px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.cancel_order_button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#purchase_cancelled {
  margin-top: -50px;
  font-family: 'Squada one';
  text-align: center;
  font-size: 100px;
  color: #342E37;
}


.home_button_div{
  margin-top: -75px;
}

#home_button {
  margin-top: -100px;
  margin-left: 540px;
  padding: 10px;
  font-size: 75px;
  font-family: 'Squada one';
  text-decoration: none;
  color: #3C91E6;
  border-style: ridge;
  border-radius: 10px;
  border-color: #3C91E6;
  background-color: white;
}

.tooltip {
 position: relative;
 display: inline-block;
}
.tooltip .tooltiptext {
 font-family: 'Ubuntu', sans-serif;
 visibility: hidden;
 width: 120px;
 background-color: #342E37;
 color: white;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 /* Position the tooltip */
 position: absolute;
 z-index: 1;
}
.tooltip:hover .tooltiptext {
 visibility: visible;
}
</style>
<body style="text-align:center;">
