body {
  background-color: #FAFFFD;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-style: italic;
  font-family: 'pacifico'
}

#easy {
  color: #3C91E6;
}

#shop {
  color: #FA824C;
}


#shop_now:link {
  color: black;
  text-decoration: none;
  background-color: #9FD356;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:visited {
  color: black;
  text-decoration: none;
  background-color: #9FD356;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:hover {
  background-color: #FA824C;
  color: black;
  text-decoration: none;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#shop_now:active {
 position: relative;
 top: 5px;
 color: black;
 text-decoration: none;
 background-color: #3C91E6;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 font-size: 50px;
 width: 40%;
 margin-left: 30%;
 border-radius: 10px;
 font-family: 'Squada one'
}

#home {
  font-size: 50px;
  color: #3C91E6;
}

#funds {
  font-size: 50px;
  color: #FA824C;
  display: inline-block;
  margin-left: 92.5%;
}

#account {
  color: #9FD356;
  margin-top: -345px;
  margin-right: 900px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Squada one'
}

.button {
  margin-top: 350px;
}

.merchants {
  margin-top: -175px;
}

#merchant_list:link {
  text-decoration: none;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:visited {
  text-decoration: none;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:hover {
  text-decoration: underline;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #342E37;
}
#merchant_list:active {
  position: relative;
  top: 5px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Squada one';
  font-size: 50px;
  color: #9FD356;
}

#merchant_name {
  font-size: 75px;
  font-family: 'Squada one';
  margin-bottom: -10px;
}

.move{
  margin-top:-200px;
  margin-left: 550px;
}


#merchants_stock:link {
  font-size: 35px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #9FD356;
}
#merchants_stock:visited {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #9FD356;
}
#merchants_stock:hover {
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  color: #9FD356;
}
#merchants_stock:active {
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  color: #9FD356;
}

#product {
  font-size: 100px;
  font-family: 'Squada one';
}

#price {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.buy {
  text-align: center;
  margin-top: -150px;
}

.buy_form {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

#quantity {
  font-family: 'Squada one';
  width: 30px;
  height: 18px;
  font-size: 25px;
}

#buy_button {
  color: #FA824C;
  outline-style: ridge;
  outline-color: #3C91E6;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #3C91E6;
}
#buy_button:visited {
  color: #FA824C;
  outline-style: ridge;
  outline-color: #3C91E6;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #3C91E6;
}
#buy_button:hover {
  color: #FA824C;
  outline-style: ridge;
  outline-color: #3C91E6;;
  font-size: 35px;
  font-family: 'Squada one';
  background-color: #FAFFFD;
}
#buy_button:active {
  color: #FA824C;
  outline-style: ridge;
  outline-color: #3C91E6;
  font-size: 35px;
  font-family: 'Squada one';
  background-color: #FAFFFD;
}

.transactions {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

.titles {
  font-family: 'Squada one';
  font-size: 50px;
}

#go_back1 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back2 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
#go_back3 {
  font-size: 75px;
  margin-left: 75px;
  color: #9FD356;
}
