<div class="tooltip">
  <a id="go_back5" href="/funds"><i class="fas fa-angle-double-left"></i></a><span class="tooltiptext">Previous Page</span>
</div>

<div class="ammount_form">
  <p id="enter_ammount">Enter Ammount:</p>
  <form class="" action="/funds/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <input id="ammount_input" type="text" name="ammount" value="1000"><br>
    <input id="ammount_submit" type="submit" name="" value="Submit">
  </form>
</div>
