<div class="Transactions">


<p>Account balance:

<% @customers.each do |customer| %>
 £<%= customer.wallet %></p>
<% end %>
<p>
<% @customers.each do |customer| %>
 <% customer.purchased_purchases.each do |purchase| %>
 QUANTITY- <%= purchase.quantity %>
 <% @customers.each do |customer| %>
 <% customer.purchased_products.each do |product| %>
 PRODUCT-<%= product.name %>
<% end %>
<% end %>
<% end %>
<% end %>

</p>

</div>
