<div class="Transactions">


<p>Account balance:

<% @customers.each do |customer| %>
 £<%= customer.wallet %></p>
<% end %>
<p>
<% @customers.each do |customer| %>
 <% customer.purchased_purchases.each do |purchase| %>
 QUANTITY- <%= purchase.quantity %> PRODUCT-<%= purchase.purchased_product[0].name %>
<% end %>
<% end %>

</p>

</div>
