<div class="move">
  <p id="merchant_name"><%= @merchant.name %></P>
  <% @merchant.products.each do |product| %><% product.price_by_merchant(@merchant.id).each do |stock| %>
  <p ><a id="merchants_stock" href="/product/<%= product.id %>/<%= stock.id %>"><%= product.name %></a></p>
  <% end %>
  <% end %>
</div>
