

<p><%= @merchant.name %></P>

  <% @merchant.products.each do |product| %>
  <p><%= product.name %><% product.price_by_merchant(@merchant.id).each do |stock| %>
   <%= stock.price %> </p>
  <% end %>
  <% end %>
