

<p><%= @merchant.name %></P>

  <% @merchant.products.each do |product| %>
  <p><%= product.name %></p>
  <% end %>

  <% @merchant.products.each do |product| %>
  <% product.price_by_merchant(@merchant.id).each do |stock| %>
  <p><%= stock.price %></p>
  <% end %>
  <% end %>
